  <div class="bg-gray-900">
    <div class="hero min-h-screen">
        <div class="overflow-x-auto">
            <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
              <thead class="ltr:text-left rtl:text-right">
                <tr>
                  <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                    Name
                  </th>
                  <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                    Date 
                  </th>
                  <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                    Set of location
                  </th>
                  <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                    Destination
                  </th>
                  <th class="px-4 py-2"></th>
                </tr>
              </thead>
          
              <tbody class="divide-y divide-gray-200">
                <tr>
                  <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                    Name
                  </td>
                  <td class="whitespace-nowrap px-4 py-2 text-gray-700">date</td>
                  <td class="whitespace-nowrap px-4 py-2 text-gray-700">Pasuruan</td>
                  <td class="whitespace-nowrap px-4 py-2 text-gray-700">Malang</td>
                  <td class="whitespace-nowrap px-4 py-2">
                    <a
                      class="inline-block rounded bg-indigo-600 px-4 py-2 text-xs font-medium text-white hover:bg-indigo-700"
                    >
                    Done
                    </a>
                  </td>
                </tr>
          
                <tr>
                  <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                    Name
                  </td>
                  <td class="whitespace-nowrap px-4 py-2 text-gray-700">date</td>
                  <td class="whitespace-nowrap px-4 py-2 text-gray-700">Pasuruan</td>
                  <td class="whitespace-nowrap px-4 py-2 text-gray-700">Malang</td>
                  <td class="whitespace-nowrap px-4 py-2">
                    <a
                      class="inline-block rounded bg-green-600 px-4 py-2 text-xs font-medium text-white hover:bg-green-700"
                    >
                      Finished
                    </a>
                  </td>
                </tr>
          
                <tr>
                  <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                    Name
                  </td>
                  <td class="whitespace-nowrap px-4 py-2 text-gray-700">date</td>
                  <td class="whitespace-nowrap px-4 py-2 text-gray-700">Pasuruan</td>
                  <td class="whitespace-nowrap px-4 py-2 text-gray-700">Malang</td>
                  <td class="whitespace-nowrap px-4 py-2">
                    <a
                      class="inline-block rounded bg-green-600 px-4 py-2 text-xs font-medium text-white hover:bg-green-700"
                    disabled="true">
                    Finished
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>
  </div>
  