<div class="w-[1440px] h-[1024px] relative bg-sky-100 bg-opacity-75">
  <div class="w-[845px] h-[1024px] left-[595px] top-0 absolute">
      <div class="w-[845px] h-[1024px] left-0 top-0 absolute bg-white rounded-tl-[25px] rounded-bl-[25px]"></div>
      <div class="w-[600px] h-[856px] left-[123px] top-[124px] absolute">
          <div class="left-[152px] top-[833px] absolute text-gray-500 text-[20px] font-normal">Reserved directs to Leo Barreto</div>
          <div class="w-[220px] h-[55px] left-[332px] top-[694px] absolute">
              <img class="w-[50px] h-[50px] left-[10px] top-[3px] absolute" src="https://via.placeholder.com/50x50" />
              <div class="w-[138px] h-[21px] left-[66px] top-[17px] absolute text-gray-500 text-[14px] font-medium">Sing up with GitHub</div>
              <div class="w-[220px] h-[55px] left-0 top-0 absolute rounded-2xl border border border border border-gray-500"></div>
          </div>
          <div class="w-[220px] h-[55px] left-[31px] top-[694px] absolute">
              <img class="w-[50px] h-[50px] left-[7px] top-[3px] absolute" src="https://via.placeholder.com/50x50" />
              <div class="w-[141px] h-[21px] left-[66px] top-[17px] absolute text-gray-500 text-[14px] font-medium">Sing up with Google</div>
              <div class="w-[220px] h-[55px] left-0 top-0 absolute rounded-2xl border border border border border-gray-500"></div>
          </div>
          <div class="left-[251px] top-[640px] absolute text-gray-400 text-[26px] font-medium">- OR -</div>
          <!-- <div class="left-[2px] top-[572px] absolute"><span style="text-gray-500 text-[18px] font-normal">Already have a account?</span><span style="text-black text-[18px] font-normal"> </span><span style="text-yellow-300 text-[18px] font-normal">Log in</span></div> -->
          <div class="w-[340px] h-[60px] left-[121px] top-[497px] absolute">
              <div class="w-[340px] h-[60px] left-0 top-0 absolute bg-yellow-300 rounded-lg"></div>
              <div class="w-[215px] left-[70px] top-[10px] absolute text-black text-[26px] font-medium">Create Account</div>
          </div>
          <div class="w-[600px] h-[95px] left-0 top-[362px] absolute">
              <div class="left-[2px] top-0 absolute text-gray-500 text-[20px] font-medium">Password</div>
              <div class="w-[600px] h-[65px] left-0 top-[30px] absolute">
                  <div class="left-[40px] top-[17px] absolute text-black text-opacity-50 text-[20px] font-normal">Enter your Password here</div>
                  <div class="w-[600px] h-[65px] left-0 top-0 absolute bg-gray-400 bg-opacity-40 rounded-2xl"></div>
              </div>
          </div>
          <div class="w-[600px] h-[95px] left-0 top-[227px] absolute">
              <div class="left-[2px] top-0 absolute text-gray-500 text-[20px] font-medium">Email</div>
              <div class="w-[600px] h-[65px] left-0 top-[30px] absolute">
                  <div class="left-[40px] top-[17px] absolute text-black text-opacity-50 text-[20px] font-normal">Enter your Email here</div>
                  <div class="w-[600px] h-[65px] left-0 top-0 absolute bg-gray-400 bg-opacity-40 rounded-2xl"></div>
              </div>
          </div>
          <div class="w-[600px] h-[95px] left-0 top-[91px] absolute">
              <div class="left-[2px] top-0 absolute text-gray-500 text-[20px] font-medium">Full Name</div>
              <div class="w-[600px] h-[65px] left-0 top-[30px] absolute">
                  <div class="left-[40px] top-[17px] absolute text-black text-opacity-50 text-[20px] font-normal">Enter your Fulll Name here</div>
                  <div class="w-[600px] h-[65px] left-0 top-0 absolute bg-gray-400 bg-opacity-40 rounded-2xl"></div>
              </div>
          </div>
          <div class="left-[131px] top-0 absolute text-black text-[26px] font-semibold">Create your Free Account</div>
      </div>
  </div>
</div>
