<!-- component -->
<div
  class="flex flex-row items-center justify-center w-full h-screen font-sans bg-gray-900"
>
  <div class="mx-auto bg-white shadow-xl card w-96 hover:shadow">
    <img
      class="w-32 mx-auto -mt-20 border-8 border-white rounded-full"
      src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
      alt=""
    />
    <!--if not filled null-->
    <!-- <div class="mt-2 text-3xl font-medium text-center text-gray-600">Name</div>
       <div class="mt-2 text-sm text-center text-gray-600">gender</div>
       <div class="text-sm font-normal text-center text-gray-600">age</div>
       <div class="px-6 mt-2 text-sm text-center text-gray-600">
         <p>
           email
         </p>
       </div>
       <div class="px-6 mt-2 text-sm text-center text-gray-600">
         <p>
           phone
         </p>
       </div>
       <div class="px-6 mt-2 text-sm text-center text-gray-600">
        <p>
          Car type : ?
        </p>
      </div>
      <div class="px-6 mt-2 text-sm text-center text-gray-600">
        <p>
          Max Capacity : ?
        </p>
      </div> -->
      


    <div class="flex flex-col">
      <div class="-m-1.5 overflow-x-auto">
        <div class="p-1.5 min-w-full inline-block align-middle">
          <div class="overflow-hidden">
            <table class="min-w-full">
              <tbody>
                <tr>
                  <td
                    class="px-6 py-4 text-lg font-medium text-gray-800 whitespace-nowrap text-start"
                  >
                    Name
                  </td>
                  <td
                    class="px-6 py-4 text-lg font-bold text-gray-800 text-end whitespace-nowrap"
                  >
                    {{ user.User.name }}
                  </td>
                </tr>
                <tr>
                  <td
                    class="px-6 py-4 text-lg font-medium text-gray-800 whitespace-nowrap text-start"
                  >
                    Email
                  </td>
                  <td
                    class="px-6 py-4 text-lg font-bold text-gray-800 text-end whitespace-nowrap"
                  >
                    {{ user.User.email }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <hr class="mt-8" />
    <div class="flex p-4">
      <div class="w-1/2 text-center">
        <a routerLink="/home">Back</a>
      </div>
      <div class="w-0 border border-gray-300"></div>
      <div class="w-1/2 text-center">
        <a routerLink="edit">Edit</a>
      </div>
    </div>
  </div>
</div>
