<nav
  class="px-2 sm:px-4 py-2.5 fixed w-full z-20 top-0 left-0 border-r rtl:border-r-0 rtl:border-l border-gray-700"
  [ngClass]="{
    'bg-transparent': !isScrolled,
    'bg-gray-800 bg-opacity-70': isScrolled
  }"
>
  <div class="flex items-center justify-end mx-auto">
    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
      id="navbar-sticky"
      data-te-collapse-item
    >
      <ul
        class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0"
      >
        <li>
          <a
            routerLink="/home"
            routerLinkActive="active"
            class="block py-2 pl-3 pr-4 text-gray-200 rounded hover:text-blue-500 md:bg-transparent md:p-0"
            aria-current="page"
            >Home
          </a>
        </li>
        <li>
          <a
            routerLink="/about"
            routerLinkActive="active"
            class="block py-2 pl-3 pr-4 text-gray-200 rounded hover:text-blue-500 md:hover:bg-transparent md:p-0"
            >About</a
          >
        </li>
        <li *ngIf="user && user.role !== 'driver'">
          <a
            routerLink="/history"
            routerLinkActive="active"
            class="block py-2 pl-3 pr-4 text-gray-200 rounded hover:text-blue-500 md:hover:bg-transparent md:p-0"
            >History Order</a
          >
        </li>
        <li *ngIf="user && user.role !== 'driver'">
          <a
            routerLink="/driver"
            routerLinkActive="active"
            class="block py-2 pl-3 pr-4 text-gray-200 rounded hover:bg-blue-100 hover:text-blue-500 md:hover:bg-transparent md:p-0"
            >Drive with us</a
          >
        </li>
        <li *ngIf="user && user.role !== 'customer'">
          <a
            routerLink="/order"
            routerLinkActive="active"
            class="block py-2 pl-3 pr-4 text-gray-200 rounded hover:bg-blue-100 hover:text-blue-500 md:hover:bg-transparent md:p-0"
            >Order list</a
          >
        </li>
        <li *ngIf="user && user.role !== 'driver'">
          <a
            routerLink="/ride"
            routerLinkActive="active"
            class="block py-2 pl-3 pr-4 text-gray-200 rounded hover:bg-blue-100 hover:text-blue-500 md:hover:bg-transparent md:p-0"
            >Ride with us
          </a>
        </li>
      </ul>
    </div>
    <div
      *ngIf="!user"
      class="items-end justify-end hidden w-full md:flex md:w-auto md:order-1"
      id="navbar-sticky"
      data-te-collapse-item
    >
      <ul
        class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0"
      >
        <li>
          <a
            routerLink="/login"
            routerLinkActive="active"
            class="block py-2 pl-3 pr-4 text-gray-200 rounded hover:bg-blue-100 hover:text-blue-500 md:hover:bg-transparent md:p-0"
            >Login</a
          >
        </li>
        <li>
          <p
            class="block py-2 pl-3 pr-4 text-gray-200 rounded hover:bg-blue-100 hover:text-blue-500 md:hover:bg-transparent md:p-0"
          >
            |
          </p>
        </li>
        <li>
          <a
            routerLink="/register"
            routerLinkActive="active"
            class="block py-2 pl-3 pr-4 text-gray-200 rounded hover:bg-blue-100 hover:text-blue-500 md:hover:bg-transparent md:p-0"
            >Register</a
          >
        </li>
      </ul>
    </div>
    <div
      *ngIf="user"
      class="items-end justify-end hidden w-full md:flex md:w-auto md:order-1"
      id="navbar-sticky"
      data-te-collapse-item
    >
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img src="/assets/img/user.png" />
          </div>
        </label>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
        >
          <li class="pt-1 text-center cursor-default select-none">
            Hi, {{ user.name }}
          </li>
          <div class="my-1 divider"></div>
          <li *ngIf="user.role === 'admin'">
            <a routerLink="/dashboard"> Dashboard </a>
          </li>
          <li *ngIf="user.role !== 'admin'">
            <a
              routerLink="{{
                user.role === 'customer' ? '/profile' : '/profile-driver'
              }}"
            >
              Profile
            </a>
          </li>
          <li><a (click)="logOut()">Logout</a></li>
        </ul>
        <!-- <ul  tabindex="0"
          class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
          <li>
            <a>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
                />
              </svg>
              Item 2
            </a>
          </li>
          <li>
            <a>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                />
              </svg>
              Item 1
            </a>
          </li>
          <li>
            <a>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z"
                />
              </svg>
              Item 3
            </a>
          </li>
        </ul> -->
      </div>
    </div>
    <!-- <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Log in <span aria-hidden="true">&rarr;</span></a> -->
  </div>
</nav>
