<nav
  class="px-2 sm:px-4 py-2.5 fixed w-full z-20 top-0 left-0 border-r rtl:border-r-0 rtl:border-l border-gray-700"
  [ngClass]="{
    'bg-transparent': !isScrolled,
    'bg-gray-800 bg-opacity-70': isScrolled
  }"
>

  <div class="flex items-center justify-end mx-auto">
    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
      id="navbar-sticky"
      data-te-collapse-item
    >
      <ul
        class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0"
      >
        <li>
          <a
            routerLink="/home"
            routerLinkActive="active"
            class="block py-2 pl-3 pr-4 text-gray-200 hover:text-blue-500 rounded md:bg-transparent md:p-0"
            aria-current="page"
            >Home
          </a>
        </li>
        <li>
          <a
            routerLink="/about"
            routerLinkActive="active"
            class="block py-2 pl-3 pr-4 text-gray-200 rounded hover:text-blue-500 md:hover:bg-transparent md:p-0"
            >About</a
          >
        </li>
        <li>
          <a
            routerLink="/driver"
            routerLinkActive="active"
            class="block py-2 pl-3 pr-4 text-gray-200 rounded hover:bg-blue-100 hover:text-blue-500 md:hover:bg-transparent md:p-0"
            >Drive with us</a
          >
        </li>
        <li>
          <a
            routerLink="/order"
            routerLinkActive="active"
            class="block py-2 pl-3 pr-4 text-gray-200 rounded hover:bg-blue-100 hover:text-blue-500 md:hover:bg-transparent md:p-0"
            >Order list</a
          >
        </li>
        <li>
          <a
            routerLink="/ride"
            routerLinkActive="active"
            class="block py-2 pl-3 pr-4 text-gray-200 rounded hover:bg-blue-100 hover:text-blue-500 md:hover:bg-transparent md:p-0"
            >Ride with us</a
          >
        </li>
      </ul>
    </div>
    <div
    class="items-end justify-end hidden w-full md:flex md:w-auto md:order-1"
    id="navbar-sticky"
    data-te-collapse-item
    >
      <ul
      class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0"
      >
        <li>
          <a
            routerLink="/login"
            routerLinkActive="active"
            class="block py-2 pl-3 pr-4 text-gray-200 rounded hover:bg-blue-100 hover:text-blue-500 md:hover:bg-transparent md:p-0"
            >Login</a
          >
        </li>
        <li>
          <p
            class="block py-2 pl-3 pr-4 text-gray-200 rounded hover:bg-blue-100 hover:text-blue-500 md:hover:bg-transparent md:p-0"
            >|</p
          >
        </li>
        <li>
          <a
            routerLink="/register"
            routerLinkActive="active"
            class="block py-2 pl-3 pr-4 text-gray-200 rounded hover:bg-blue-100 hover:text-blue-500 md:hover:bg-transparent md:p-0"
            >Register</a
          >
        </li>
      </ul>
    </div>
    <!-- <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Log in <span aria-hidden="true">&rarr;</span></a> -->
  </div>


</nav>
