<div class="bg-gray-900">
  <div class="hero min-h-screen">
    <div
      class="absolute transform-gpu z-10 overflow-hidden blur-3xl sm:-top-80"
      aria-hidden="true"
    >
      <div
        class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
        style="
          clip-path: polygon(
            74.1% 44.1%,
            100% 61.6%,
            97.5% 26.9%,
            85.5% 0.1%,
            80.7% 2%,
            72.5% 32.5%,
            60.2% 62.4%,
            52.4% 68.1%,
            47.5% 58.3%,
            45.2% 34.5%,
            27.5% 76.7%,
            0.1% 64.9%,
            17.9% 100%,
            27.6% 76.8%,
            76.1% 97.7%,
            74.1% 44.1%
          );
        "
      ></div>
    </div>
     <div class="grid grid-cols-2">
      <a routerLink="/book" class="group relative block bg-black w-80" >
        <img
          alt="wave"
          src="./assets/img/wave.jpg"
          class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"
        />

        <div class="relative p-4 sm:p-6 lg:p-8">
          <p class="text-sm font-medium uppercase tracking-widest text-indigo-500">
            TYPE
          </p>

          <p class="text-xl font-bold text-white sm:text-2xl">Book Now</p>

          <div class="mt-32 sm:mt-48 lg:mt-64">
            <div
              class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100"
            >
              <p class="text-sm text-white">
                Book now and enjoy your ride!
              </p>
            </div>
          </div>
        </div>
      </a>
      <a routerLink="/reserve" class="group relative block bg-black w-80" >
        <img
          alt="phone"
          src="./assets/img/phone.jpg"
          class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"
        />

        <div class="relative p-4 sm:p-6 lg:p-8">
          <p class="text-sm font-medium uppercase tracking-widest text-indigo-500">
            TYPE
          </p>

          <p class="text-xl font-bold text-white sm:text-2xl">Reserve</p>

          <div class="mt-32 sm:mt-48 lg:mt-64">
            <div
              class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100"
            >
              <p class="text-sm text-white">
                Pick a date on when you want to ride!
              </p>
            </div>
          </div>
        </div>
      </a>
     </div>
  </div>
</div>
