<div class="w-[1440px] h-[4774px] relative bg-white">
  <div class="w-[1922.31px] h-[1018px] left-[-420px] top-[-149px] absolute">
    <div class="w-[1922.31px] h-[872.58px] left-0 top-0 absolute">
        <div class="w-[478.94px] h-[496.86px] left-0 top-[89.16px] absolute opacity-30 bg-purple-300 rounded-full blur-[150px]"></div>
    </div>
    <div class="w-[1200.87px] h-[764px] left-[568px] top-[254px] absolute">
        <div class="w-[630px] h-[535px] left-0 top-[112px] absolute">
            <div class="w-[379px] h-[60px] left-0 top-[475px] absolute">
                <div class="w-[170px] h-[60px] left-0 top-0 absolute">
                    <div class="w-[170px] h-[60px] left-0 top-0 absolute bg-amber-500 rounded-lg shadow"></div>
                    <div class="left-[27px] top-[19px] absolute text-center text-white text-[18px] font-medium">Find out more</div>
                </div>
                <div class="w-[165px] h-[52px] left-[214px] top-[4px] absolute">
                    <div class="left-[73px] top-[15px] absolute text-zinc-500 text-[17px] font-medium">Play Demo</div>
                    <div class="w-[52px] h-[52px] left-0 top-0 absolute">
                        <div class="w-[52px] h-[52px] left-0 top-0 absolute bg-red-400 rounded-full shadow"></div>
                    </div>
                </div>
            </div>
            <div class="left-[2px] top-0 absolute text-red-400 text-[20px] font-bold uppercase">Best Destinations around the world</div>
            <div class="w-[477px] left-0 top-[351px] absolute text-gray-500 text-[16px] font-medium leading-loose">Built Wicket longer admire do barton vanity itself do in it. Preferred to sportsmen it engrossed listening. Park gate sell they west hard for the.</div>
            <!-- <div class="w-[385px] h-3 left-[245px] top-[123px] absolute">
                <div class="w-[385px] h-3 left-0 top-0 absolute bg-stone-300"></div>
            </div> -->
            <div class="absolute text-indigo-950 text-6xl font-bold">Travel, enjoy<br>and live a new<br>and full life</div>
        </div>
        <div class="w-[783.87px] h-[764px] left-[417px] top-0 absolute">
            <!-- <div class="origin-top-left rotate-[-43.89deg] w-[128.04px] h-[69.56px] left-[641.36px] top-[191.77px] absolute">
                <div class="origin-top-left rotate-[-44.04deg] w-[59.08px] h-[15.82px] left-[39.91px] top-[1.43px] absolute">
                </div>
            </div> -->
            <!-- <img class="w-[765px] h-[764px] left-0 top-0 absolute" src="https://via.placeholder.com/765x764" /> -->
            <!-- <div class="origin-top-left rotate-[-43.89deg] w-[128.04px] h-[69.56px] left-[157.36px] top-[144.77px] absolute">
                <div class="origin-top-left rotate-[-44.04deg] w-[59.08px] h-[15.82px] left-[39.91px] top-[1.43px] absolute">
                </div>
            </div> -->
        </div>
    </div>
</div>
  <div class="w-[1617.94px] h-[633.86px] left-[186px] top-[4420px] absolute">
      <div class="w-[478.94px] h-[496.86px] left-[1617.94px] top-[137px] absolute origin-top-left rotate-180 opacity-80 bg-purple-300 rounded-full blur-[150px]"></div>
      <div class="w-[214px] h-[147px] left-[846px] top-[21px] absolute">
          <div class="w-[177px] h-[45px] left-[2px] top-0 absolute">
              <div class="w-[41px] h-[41px] left-[136px] top-[2px] absolute">
              </div>
              <div class="w-[41px] h-[41px] left-0 top-0 absolute">
              </div>
              <div class="w-[45px] h-[45px] left-[66px] top-0 absolute">
                  <div class="w-4 h-4 left-[15px] top-[14px] absolute">
                      <div class="w-4 h-4 left-0 top-0 absolute">
                      </div>
                  </div>
              </div>
          </div>
          <div class="w-[214px] h-[76px] left-0 top-[71px] absolute">
              <div class="left-[2px] top-0 absolute text-gray-500 text-[20px] font-medium leading-normal tracking-wide">Discover our app</div>
              <div class="w-[107px] h-[35px] left-0 top-[41px] absolute">
                  <div class="w-[107px] h-[35px] left-0 top-0 absolute bg-zinc-950 rounded-2xl"></div>
                  <div class="w-5 h-5 left-[17px] top-[7px] absolute"></div>
              </div>
              <div class="w-[100px] h-[35px] left-[114px] top-[41px] absolute">
                  <div class="w-[100px] h-[35px] left-0 top-0 absolute bg-zinc-950 rounded-2xl"></div>
                  <div class="w-[13.12px] h-[16px] left-[17.44px] top-[8px] absolute">
                  </div>
              </div>
          </div>
      </div>
      <div class="w-[207px] h-[133px] left-0 top-0 absolute">
          <div class="left-0 top-0 absolute text-indigo-950 text-[44px] font-medium">Jadoo.</div>
          <div class="left-0 top-[85px] absolute text-gray-500 text-[13px] font-medium leading-none">Book your trip in minute, get full<br/>Control for much longer.<br/></div>
      </div>
      <div class="w-[474px] h-[153px] left-[290px] top-[21px] absolute">
          <div class="w-[108px] h-[151px] left-0 top-0 absolute">
              <div class="left-0 top-0 absolute text-zinc-950 text-[21px] font-bold leading-relaxed">Company</div>
              <div class="left-0 top-[60px] absolute text-gray-500 text-[18px] font-medium leading-snug">About</div>
              <div class="left-0 top-[94px] absolute text-gray-500 text-[18px] font-medium leading-snug">Careers</div>
              <div class="left-0 top-[129px] absolute text-gray-500 text-[18px] font-medium leading-snug">Mobile</div>
          </div>
          <div class="w-[89px] h-[151px] left-[180px] top-0 absolute">
              <div class="left-[1px] top-0 absolute text-zinc-950 text-[21px] font-bold leading-relaxed">Contact</div>
              <div class="left-0 top-[58px] absolute text-gray-500 text-[18px] font-medium leading-snug">Help/FAQ</div>
              <div class="left-0 top-[94px] absolute text-gray-500 text-[18px] font-medium leading-snug">Press</div>
              <div class="left-0 top-[129px] absolute text-gray-500 text-[18px] font-medium leading-snug">Affilates</div>
          </div>
          <div class="w-[114px] h-[153px] left-[360px] top-0 absolute">
              <div class="left-0 top-0 absolute text-zinc-950 text-[21px] font-bold leading-relaxed">More</div>
              <div class="left-0 top-[60px] absolute text-gray-500 text-[18px] font-medium leading-snug">Airlinefees</div>
              <div class="left-0 top-[96px] absolute text-gray-500 text-[18px] font-medium leading-snug">Airline</div>
              <div class="left-0 top-[131px] absolute text-gray-500 text-[18px] font-medium leading-snug">Low fare tips</div>
          </div>
      </div>
      <div class="left-[430px] top-[258px] absolute text-gray-500 text-[14px] font-medium leading-none">All rights reserved@jadoo.co</div>
  </div>
  <div class="w-[1356px] h-[490px] left-[48px] top-[3834px] absolute">
      <div class="w-[153px] h-[166px] left-[1203px] top-[324px] absolute">
          <div class="left-0 top-[140px] absolute text-neutral-200 text-[22px] font-normal">+</div>
          <div class="left-[35px] top-[105px] absolute text-neutral-200 text-[22px] font-normal">+</div>
          <div class="left-[70px] top-0 absolute text-neutral-200 text-[22px] font-normal">+</div>
          <div class="left-[70px] top-[35px] absolute text-neutral-200 text-[22px] font-normal">+</div>
          <div class="left-[70px] top-[70px] absolute text-indigo-600 text-[22px] font-normal">+</div>
          <div class="left-[70px] top-[105px] absolute text-neutral-200 text-[22px] font-normal">+</div>
          <div class="left-[70px] top-[140px] absolute text-neutral-200 text-[22px] font-normal">+</div>
          <div class="left-[105px] top-0 absolute text-neutral-200 text-[22px] font-normal">+</div>
          <div class="left-[105px] top-[35px] absolute text-neutral-200 text-[22px] font-normal">+</div>
          <div class="left-[105px] top-[70px] absolute text-neutral-200 text-[22px] font-normal">+</div>
          <div class="left-[105px] top-[105px] absolute text-neutral-200 text-[22px] font-normal">+</div>
          <div class="left-[105px] top-[140px] absolute text-neutral-200 text-[22px] font-normal">+</div>
          <div class="left-[140px] top-0 absolute text-red-400 text-[22px] font-normal">+</div>
          <div class="left-[140px] top-[35px] absolute text-neutral-200 text-[22px] font-normal">+</div>
          <div class="left-[140px] top-[70px] absolute text-neutral-200 text-[22px] font-normal">+</div>
          <div class="left-[140px] top-[105px] absolute text-neutral-200 text-[22px] font-normal">+</div>
          <div class="left-[140px] top-[140px] absolute text-neutral-200 text-[22px] font-normal">+</div>
      </div>
      <div class="w-[1257px] h-[407px] left-0 top-[13px] absolute">
          <div class="w-[1170px] h-[407px] left-[1257px] top-0 absolute origin-top-left rotate-180 opacity-20 bg-violet-200 rounded-tl-2xl rounded-tr-[129px] rounded-bl-2xl rounded-br-2xl"></div>
          <div class="opacity-10 w-[264px] h-[351.52px] left-[993px] top-0 absolute">
              <div class="w-[264px] h-[351.52px] left-0 top-0 absolute bg-gradient-to-b from-indigo-400 to-indigo-600 rounded-tr-3xl rounded-bl-[50px] border border border border border-indigo-600"></div>
              <div class="w-[284.80px] h-[290.88px] left-[61.70px] top-[-17.22px] absolute">
                  <div class="w-[184.61px] h-[184.61px] left-[85.02px] top-[103.23px] absolute rounded-full border border-indigo-600"></div>
                  <div class="w-[206.47px] h-[206.47px] left-[66.80px] top-[82.59px] absolute rounded-full border border-indigo-600"></div>
                  <div class="w-[225.90px] h-[225.90px] left-[51.01px] top-[64.98px] absolute rounded-full border border-indigo-600"></div>
                  <div class="w-[242.90px] h-[242.90px] left-[36.44px] top-[44.94px] absolute rounded-full border border-indigo-600"></div>
                  <div class="w-[259.30px] h-[259.30px] left-[22.47px] top-[25.50px] absolute rounded-full border border-indigo-600"></div>
                  <div class="w-[284.80px] h-[284.80px] left-0 top-0 absolute rounded-full border border-indigo-600"></div>
              </div>
          </div>
          <div class="origin-top-left rotate-90 opacity-10 w-[361px] h-[480px] left-[480px] top-[46px] absolute">
              <div class="w-[361px] h-[480px] left-0 top-0 absolute origin-top-left rotate-90 bg-gradient-to-b from-indigo-400 to-indigo-600 border border border border border-indigo-600"></div>
              <div class="origin-top-left rotate-90 w-[389.45px] h-[397.19px] left-[23.51px] top-[85.73px] absolute">
                  <div class="w-[252.44px] h-[252.08px] left-[-140.97px] top-[116.25px] absolute origin-top-left rotate-90 rounded-full border border-indigo-600"></div>
                  <div class="w-[282.33px] h-[281.93px] left-[-112.77px] top-[91.34px] absolute origin-top-left rotate-90 rounded-full border border-indigo-600"></div>
                  <div class="w-[308.90px] h-[308.46px] left-[-88.73px] top-[69.75px] absolute origin-top-left rotate-90 rounded-full border border-indigo-600"></div>
                  <div class="w-[332.15px] h-[331.68px] left-[-61.36px] top-[49.82px] absolute origin-top-left rotate-90 rounded-full border border-indigo-600"></div>
                  <div class="w-[354.57px] h-[354.07px] left-[-34.83px] top-[30.72px] absolute origin-top-left rotate-90 rounded-full border border-indigo-600"></div>
                  <div class="w-[389.45px] h-[388.90px] left-0 top-0 absolute origin-top-left rotate-90 rounded-full border border-indigo-600"></div>
              </div>
          </div>
      </div>
      <div class="w-[421px] h-[68px] left-[339px] top-[274px] absolute">
          <div class="w-[421px] h-[68px] left-0 top-0 absolute bg-white rounded-lg"></div>
          <div class="left-[66px] top-[25px] absolute text-slate-700 text-[14px] font-normal">Your email</div>
          <div class="w-[21px] h-[18px] left-[31px] top-[25px] absolute">
              <div class="w-[21px] h-[18px] left-0 top-0 absolute rounded border border border border border-slate-700"></div>
          </div>
      </div>
      <div class="w-[180px] h-[68px] left-[784px] top-[274px] absolute">
          <div class="w-[180px] h-[68px] left-0 top-0 absolute bg-gradient-to-b from-red-400 to-red-400 rounded-lg"></div>
          <div class="left-[50px] top-[22px] absolute text-center text-white text-[17px] font-semibold">Subscribe</div>
      </div>
      <div class="left-[232px] top-[92px] absolute text-center text-gray-500 text-[33px] font-semibold leading-10">Subscribe to get information, latest news and other<br/>interesting offers about Jadoo</div>
      <div class="w-[70px] h-[70px] left-[1207px] top-0 absolute">
          <div class="w-[70px] h-[70px] left-0 top-0 absolute bg-gradient-to-b from-indigo-400 to-indigo-600 rounded-full"></div>
          <div class="origin-top-left rotate-[-30deg] w-[34.77px] h-[30px] left-[15px] top-[28.38px] absolute">
          </div>
      </div>
  </div>
  <div class="w-[1073px] h-[162px] left-[186px] top-[3561px] absolute">
      <img class="w-[130px] h-[130px] left-0 top-[16px] absolute" src="https://via.placeholder.com/130x130" />
      <img class="w-[172.86px] h-[110px] left-[207px] top-[27px] absolute" src="https://via.placeholder.com/173x110" />
      <div class="w-[241px] h-[162px] left-[430px] top-0 absolute">
          <div class="w-[241px] h-[86px] left-0 top-[42px] absolute bg-white rounded-lg shadow"></div>
          <img class="w-[162px] h-[162px] left-[40px] top-0 absolute" src="https://via.placeholder.com/162x162" />
      </div>
      <img class="w-[162px] h-8 left-[718px] top-[67px] absolute" src="https://via.placeholder.com/162x32" />
      <img class="w-[94px] h-[21px] left-[979px] top-[71px] absolute" src="https://via.placeholder.com/94x21" />
  </div>
  <div class="w-[1165px] h-[356px] left-[186px] top-[3109px] absolute">
      <div class="left-0 top-[9px] absolute text-gray-500 text-[18px] font-semibold uppercase">Testimonials</div>
      <div class="left-0 top-[44px] absolute text-indigo-950 text-[50px] font-bold capitalize">What people say<br/>about Us.</div>
      <div class="w-[87px] h-3 left-0 top-[256px] absolute">
          <div class="w-3 h-3 left-0 top-0 absolute bg-slate-700 rounded-full"></div>
          <div class="w-3 h-3 left-[38px] top-0 absolute bg-neutral-200 rounded-full"></div>
          <div class="w-3 h-3 left-[75px] top-0 absolute bg-neutral-200 rounded-full"></div>
      </div>
      <div class="w-[669px] h-[356px] left-[496px] top-0 absolute">
          <div class="w-[502px] h-[232px] left-[87px] top-[124px] absolute">
              <div class="w-[502px] h-[232px] left-0 top-0 absolute rounded-lg shadow border border border border border-neutral-100"></div>
              <div class="w-[402px] left-[34px] top-[16px] absolute text-slate-600 text-[16px] font-normal leading-loose">“On the Windows talking painted pasture yet its express parties use. Sure last upon he same as knew next. Of believed or diverted no.”</div>
              <div class="left-[34px] top-[156px] absolute text-gray-500 text-[18px] font-semibold">Chris Thomas</div>
              <div class="left-[34px] top-[189px] absolute text-gray-500 text-[14px] font-medium">CEO of Red Button</div>
          </div>
          <div class="w-[541px] h-[279px] left-0 top-0 absolute">
              <div class="w-[504px] h-[245px] left-[37px] top-[34px] absolute bg-white rounded-lg shadow"></div>
              <div class="w-[402px] left-[71px] top-[62px] absolute text-gray-500 text-[16px] font-medium leading-loose">“On the Windows talking painted pasture yet its express parties use. Sure last upon he same as knew next. Of believed or diverted no.”</div>
              <img class="w-[68px] h-[68px] left-0 top-0 absolute rounded-full" src="https://via.placeholder.com/68x68" />
              <div class="left-[71px] top-[192px] absolute text-gray-500 text-[18px] font-semibold">Mike taylor</div>
              <div class="left-[71px] top-[224px] absolute text-gray-500 text-[14px] font-medium">Lahore, Pakistan</div>
          </div>
          <div class="w-3.5 h-[71.50px] left-[655px] top-[140.50px] absolute">
          </div>
      </div>
  </div>
  <div class="w-[1114px] h-[492px] left-[186px] top-[2417px] absolute">
      <div class="left-0 top-[42px] absolute text-indigo-950 text-[50px] font-bold capitalize">Book your next trip <br/>in 3 easy steps</div>
      <div class="w-[485px] h-[459px] left-[629px] top-[19px] absolute">
          <div class="w-[354px] h-[367px] left-[60px] top-0 absolute opacity-80 bg-blue-400 rounded-full blur-[150px]"></div>
          <div class="w-[485px] h-[400px] left-0 top-[59px] absolute">
              <div class="w-[370px] h-[400px] left-0 top-0 absolute">
                  <div class="w-[370px] h-[400px] left-0 top-0 absolute bg-white rounded-[26px] shadow"></div>
                  <div class="w-[139px] h-9 left-[28px] top-[283px] absolute">
                      <div class="w-9 h-9 left-0 top-0 absolute">
                          <div class="w-9 h-9 left-0 top-0 absolute bg-neutral-100 rounded-full"></div>
                          <div class="w-3.5 h-3.5 left-[11px] top-[12px] absolute"></div>
                      </div>
                      <div class="w-9 h-9 left-[103px] top-0 absolute">
                          <div class="w-9 h-9 left-0 top-0 absolute bg-neutral-100 rounded-full"></div>
                          <div class="w-3.5 h-3.5 left-[11px] top-[12px] absolute"></div>
                      </div>
                      <div class="w-9 h-9 left-[54px] top-0 absolute">
                          <div class="w-9 h-9 left-0 top-0 absolute bg-neutral-100 rounded-full"></div>
                          <div class="w-3.5 h-3.5 left-[10px] top-[11px] absolute"></div>
                      </div>
                  </div>
                  <div class="origin-top-left rotate-180 w-4 h-4 left-[41px] top-[348px] absolute">
                  </div>
                  <div class="left-[56px] top-[349px] absolute text-slate-500 text-[16px] font-medium leading-tight">24 people going</div>
                  <div class="left-[25px] top-[242px] absolute text-slate-500 text-[16px] font-medium leading-tight">14-29 June</div>
                  <div class="left-[129px] top-[242px] absolute text-slate-500 text-[16px] font-medium leading-tight">by Robbin joseph</div>
                  <img class="w-[321px] h-[161px] left-[25px] top-[20px] absolute rounded-3xl" src="https://via.placeholder.com/321x161" />
                  <div class="left-[25px] top-[207px] absolute text-zinc-950 text-[18px] font-medium leading-snug tracking-wide">Trip To Greece</div>
                  <div class="w-4 h-[0px] left-[116px] top-[243px] absolute origin-top-left rotate-90 bg-slate-500 border border-slate-500"></div>
              </div>
              <div class="w-[263px] h-[129px] left-[222px] top-[219px] absolute">
                  <div class="w-[263px] h-[129px] left-0 top-0 absolute bg-white rounded-2xl shadow"></div>
                  <div class="left-[81px] top-[39px] absolute text-zinc-950 text-[18px] font-medium leading-snug">Trip to rome</div>
                  <!-- <div class="left-[80px] top-[75px] absolute"><span style="text-indigo-400 text-[14px] font-medium leading-none">40%</span><span style="text-zinc-950 text-[14px] font-medium leading-none"> completed</span></div> -->
                  <div class="w-[50px] h-[50px] left-[20px] top-[18px] absolute opacity-30 bg-white rounded-full shadow"></div>
                  <div class="w-[50px] h-[50px] left-[20px] top-[18px] absolute">
                      <div class="w-[50px] h-[50px] left-0 top-0 absolute bg-white rounded-full"></div>
                      <img class="w-[74px] h-[66px] left-[-13px] top-[-1px] absolute" src="https://via.placeholder.com/74x66" />
                  </div>
                  <div class="left-[82px] top-[16px] absolute text-slate-500 text-[14px] font-medium leading-none">Ongoing</div>
                  <div class="w-[156px] h-[5px] left-[82px] top-[102px] absolute">
                      <div class="w-[156px] h-[5px] left-0 top-0 absolute bg-neutral-100 rounded-[30px]"></div>
                      <div class="w-[73px] h-[5px] left-0 top-0 absolute bg-indigo-400 rounded-[30px]"></div>
                  </div>
              </div>
          </div>
      </div>
      <div class="left-[3px] top-0 absolute text-center text-gray-500 text-[18px] font-semibold">Easy and Fast</div>
      <div class="w-[395px] h-[289px] left-0 top-[203px] absolute">
          <div class="w-[395px] h-16 left-0 top-0 absolute">
              <div class="w-[47px] h-12 left-0 top-[4px] absolute">
                  <div class="w-[47px] h-12 left-0 top-0 absolute bg-amber-400 rounded-xl"></div>
              </div>
              <div class="left-[68px] top-0 absolute text-gray-500 text-[16px] font-bold leading-tight">Choose Destination</div>
              <div class="left-[68px] top-[24px] absolute text-gray-500 text-[16px] font-normal leading-tight">Lorem ipsum dolor sit amet, consectetur <br/>adipiscing elit. Urna, tortor tempus. </div>
          </div>
          <div class="w-[395px] h-[65px] left-0 top-[224px] absolute">
              <div class="w-[47px] h-12 left-0 top-[4px] absolute">
                  <div class="w-[47px] h-12 left-0 top-0 absolute bg-sky-800 rounded-xl"></div>
                  <div class="w-[22.50px] h-[18.75px] left-[12.75px] top-[15.62px] absolute">
                  </div>
              </div>
              <div class="left-[68px] top-[25px] absolute text-gray-500 text-[16px] font-normal leading-tight">Lorem ipsum dolor sit amet, consectetur <br/>adipiscing elit. Urna, tortor tempus. </div>
              <div class="left-[68px] top-0 absolute text-gray-500 text-[16px] font-bold leading-tight">Reach Airport on Selected Date</div>
          </div>
          <div class="w-[395px] h-16 left-0 top-[112px] absolute">
              <div class="left-[68px] top-[24px] absolute text-gray-500 text-[16px] font-normal leading-tight">Lorem ipsum dolor sit amet, consectetur <br/>adipiscing elit. Urna, tortor tempus. </div>
              <div class="left-[68px] top-0 absolute text-gray-500 text-[16px] font-bold leading-tight">Make Payment</div>
              <div class="w-[47px] h-12 left-0 top-[4px] absolute">
                  <div class="w-[47px] h-12 left-0 top-0 absolute bg-orange-600 rounded-xl"></div>
                  <div class="w-[22.05px] h-[17.86px] left-[12.97px] top-[14.07px] absolute">
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="w-[1102px] h-[617px] left-[173px] top-[1614px] absolute">
      <div class="w-[315px] h-[457px] left-[725px] top-[160px] absolute">
          <img class="w-[314px] h-[457px] left-[1px] top-0 absolute rounded-3xl shadow" src="https://via.placeholder.com/314x457" />
          <div class="w-[315px] h-[130px] left-0 top-[327px] absolute">
              <div class="w-[315px] h-[130px] left-0 top-0 absolute bg-white rounded-bl-3xl rounded-br-3xl"></div>
              <div class="left-[20px] top-[28px] absolute text-gray-500 text-[18px] font-medium leading-snug">Full Europe</div>
              <div class="w-5 h-5 left-[20px] top-[68px] absolute"></div>
              <div class="left-[51px] top-[68px] absolute text-gray-500 text-[16px] font-medium leading-tight">28 Days Trip</div>
              <div class="left-[250px] top-[28px] absolute text-gray-500 text-[18px] font-medium leading-snug">$15k</div>
          </div>
      </div>
      <div class="w-[315px] h-[457px] left-0 top-[160px] absolute">
          <img class="w-[314px] h-[457px] left-[1px] top-0 absolute rounded-3xl shadow" src="https://via.placeholder.com/314x457" />
          <div class="w-[315px] h-[130px] left-0 top-[327px] absolute">
              <div class="w-[315px] h-[130px] left-0 top-0 absolute bg-white rounded-bl-3xl rounded-br-3xl"></div>
              <div class="left-[20px] top-[27px] absolute text-gray-500 text-[18px] font-medium leading-snug">Rome, Italty</div>
              <div class="w-5 h-5 left-[20px] top-[68px] absolute"></div>
              <div class="left-[54px] top-[68px] absolute text-gray-500 text-[16px] font-medium leading-tight">10 Days Trip</div>
              <div class="left-[230px] top-[28px] absolute text-gray-500 text-[18px] font-medium leading-snug">$5,42k</div>
          </div>
      </div>
      <div class="w-[315px] h-[457px] left-[350px] top-[160px] absolute">
          <img class="w-[314px] h-[457px] left-[1px] top-0 absolute rounded-3xl shadow" src="https://via.placeholder.com/314x457" />
          <div class="w-[315px] h-[130px] left-0 top-[327px] absolute">
              <div class="w-[315px] h-[130px] left-0 top-0 absolute bg-white rounded-bl-3xl rounded-br-3xl"></div>
              <div class="left-[20px] top-[27px] absolute text-gray-500 text-[18px] font-medium leading-snug">London, UK</div>
              <div class="w-5 h-5 left-[20px] top-[68px] absolute"></div>
              <div class="left-[55px] top-[68px] absolute text-gray-500 text-[16px] font-medium leading-tight">12 Days Trip</div>
              <div class="left-[240px] top-[28px] absolute text-gray-500 text-[18px] font-medium leading-snug">$4.2k</div>
          </div>
      </div>
      <div class="left-[459px] top-0 absolute text-center text-gray-500 text-[18px] font-semibold">Top Selling</div>
      <div class="left-[317px] top-[35px] absolute text-center text-indigo-950 text-[50px] font-bold capitalize">Top Destinations</div>
  </div>
  <div class="w-[1228px] h-[525px] left-[154px] top-[966px] absolute">
      <div class="w-[153px] h-[166px] left-[1075px] top-0 absolute">
          <div class="left-0 top-0 absolute text-red-400 text-[22px] font-normal">+</div>
          <div class="left-0 top-[35px] absolute text-neutral-200 text-[22px] font-normal">+</div>
          <div class="left-0 top-[70px] absolute text-neutral-200 text-[22px] font-normal">+</div>
          <div class="left-[35px] top-0 absolute text-neutral-200 text-[22px] font-normal">+</div>
          <div class="left-[35px] top-[35px] absolute text-neutral-200 text-[22px] font-normal">+</div>
          <div class="left-[35px] top-[70px] absolute text-neutral-200 text-[22px] font-normal">+</div>
          <div class="left-[35px] top-[105px] absolute text-neutral-200 text-[22px] font-normal">+</div>
          <div class="left-[70px] top-0 absolute text-neutral-200 text-[22px] font-normal">+</div>
          <div class="left-[70px] top-[35px] absolute text-neutral-200 text-[22px] font-normal">+</div>
          <div class="left-[70px] top-[70px] absolute text-indigo-600 text-[22px] font-normal">+</div>
          <div class="left-[70px] top-[105px] absolute text-neutral-200 text-[22px] font-normal">+</div>
          <div class="left-[70px] top-[140px] absolute text-neutral-200 text-[22px] font-normal">+</div>
          <div class="left-[105px] top-0 absolute text-neutral-200 text-[22px] font-normal">+</div>
          <div class="left-[105px] top-[35px] absolute text-neutral-200 text-[22px] font-normal">+</div>
          <div class="left-[105px] top-[70px] absolute text-neutral-200 text-[22px] font-normal">+</div>
          <div class="left-[105px] top-[105px] absolute text-neutral-200 text-[22px] font-normal">+</div>
          <div class="left-[105px] top-[140px] absolute text-neutral-200 text-[22px] font-normal">+</div>
          <div class="left-[140px] top-0 absolute text-neutral-200 text-[22px] font-normal">+</div>
          <div class="left-[140px] top-[35px] absolute text-neutral-200 text-[22px] font-normal">+</div>
          <div class="left-[140px] top-[70px] absolute text-neutral-200 text-[22px] font-normal">+</div>
          <div class="left-[140px] top-[105px] absolute text-neutral-200 text-[22px] font-normal">+</div>
          <div class="left-[140px] top-[140px] absolute text-neutral-200 text-[22px] font-normal">+</div>
      </div>
      <div class="left-[498px] top-[8px] absolute text-center text-gray-500 text-[18px] font-semibold">CATEGORY</div>
      <div class="left-[274px] top-[45px] absolute text-center text-indigo-950 text-[50px] font-bold capitalize">We Offer Best Services</div>
      <div class="w-[302px] h-[348.91px] left-[228px] top-[176.09px] absolute">
          <div class="w-[100px] h-[100px] left-0 top-[248.91px] absolute bg-red-400 rounded-tl-[30px] rounded-br-lg"></div>
          <div class="w-[267px] h-[314px] left-[35px] top-[1.91px] absolute bg-white rounded-[36px] shadow"></div>
          <div class="w-[181px] h-[78px] left-[79px] top-[192.91px] absolute text-center text-gray-500 text-[16px] font-medium leading-relaxed">Engrossed listening. Park gate sell they west hard for the.</div>
          <div class="left-[109px] top-[150.91px] absolute text-indigo-950 text-[20px] font-semibold">Best Flights</div>
          <div class="w-[166.87px] h-[153.33px] left-[84.21px] top-0 absolute">
              <div class="w-[50px] h-[49px] left-[47.59px] top-[90.91px] absolute bg-orange-100 rounded-tl-2xl rounded-tr rounded-bl rounded-br-lg"></div>
              <div class="origin-top-left rotate-[-43.89deg] w-[128.04px] h-[69.56px] left-[24.36px] top-[88.77px] absolute">
                  <div class="origin-top-left rotate-[-44.04deg] w-[59.08px] h-[15.82px] left-[39.91px] top-[1.43px] absolute">
                  </div>
              </div>
          </div>
      </div>
      <div class="w-[190px] h-[227px] left-0 top-[220px] absolute">
          <div class="w-[92px] h-[78px] left-[53px] top-0 absolute">
              <div class="w-[50px] h-[49px] left-[92px] top-[78px] absolute origin-top-left -rotate-180 bg-orange-100 rounded-tl-2xl rounded-tr rounded-bl rounded-br-lg"></div>
              <div class="w-[66.74px] h-[70px] left-0 top-0 absolute">
              </div>
          </div>
          <div class="w-[181px] h-[78px] left-[5px] top-[149px] absolute text-center text-gray-500 text-[16px] font-medium leading-relaxed">Built Wicket longer admire do barton vanity itself do in it.</div>
          <div class="left-0 top-[107px] absolute text-center text-indigo-950 text-[20px] font-semibold">Calculated Weather </div>
      </div>
      <div class="w-[181px] h-[229px] left-[609px] top-[218px] absolute">
          <div class="w-[67px] h-[75px] left-[66px] top-0 absolute">
              <div class="w-[50px] h-[49px] left-[67px] top-0 absolute origin-top-left rotate-180 bg-orange-100 rounded-tl-2xl rounded-tr rounded-bl rounded-br-lg"></div>
              <img class="w-10 h-[69px] left-0 top-[6px] absolute rounded-bl-[35px] rounded-br-[30px]" src="https://via.placeholder.com/40x69" />
          </div>
          <div class="w-[181px] h-[78px] left-0 top-[151px] absolute text-center text-gray-500 text-[16px] font-medium leading-relaxed">Barton vanity itself do in it. Preferd to men it engrossed listening. </div>
          <div class="left-[29px] top-[109px] absolute text-center text-indigo-950 text-[20px] font-semibold">Local Events</div>
      </div>
      <div class="w-[181px] h-[216px] left-[908px] top-[231px] absolute">
          <div class="w-[77px] h-[66px] left-[63px] top-0 absolute">
              <div class="w-[50px] h-[49px] left-[27px] top-[66px] absolute bg-orange-100 rounded-tl-2xl rounded-tr rounded-bl rounded-br-lg"></div>
              <div class="w-[50px] h-[50px] left-0 top-0 absolute">
              </div>
          </div>
          <div class="w-[181px] h-[78px] left-0 top-[138px] absolute text-center text-gray-500 text-[16px] font-medium leading-relaxed">We deliver outsourced<br/>aviation services for<br/>military customers</div>
          <div class="left-[20px] top-[96px] absolute text-center text-indigo-950 text-[20px] font-semibold">Customization</div>
      </div>
  </div>
</div>
