<div class="bg-gray-900">
  <div class="relative px-6 isolate pt-14 lg:px-8">
    <div
      class="absolute inset-x-0 overflow-hidden -top-40 -z-10 transform-gpu blur-3xl sm:-top-80"
      aria-hidden="true"
    >
      <div
        class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
        style="
          clip-path: polygon(
            74.1% 44.1%,
            100% 61.6%,
            97.5% 26.9%,
            85.5% 0.1%,
            80.7% 2%,
            72.5% 32.5%,
            60.2% 62.4%,
            52.4% 68.1%,
            47.5% 58.3%,
            45.2% 34.5%,
            27.5% 76.7%,
            0.1% 64.9%,
            17.9% 100%,
            27.6% 76.8%,
            76.1% 97.7%,
            74.1% 44.1%
          );
        "
      ></div>
    </div>
    <div class="max-w-2xl py-32 mx-auto sm:py-48 lg:py-56">
      <div class="text-center">
        <h1
          class="text-4xl font-bold tracking-tight text-gray-100 sm:text-6xl"
        >
          Safe, reliable, and affordable rides.
        </h1>
        <p class="mt-6 text-lg leading-8 text-gray-400">
          The benefits of using the online cab application, such as safety,
          reliability, affordability, convenience, and ease of use.
        </p>
        <div class="flex items-center justify-center mt-10 gap-x-6">
          <a
            routerLink="/ride"
            class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
            >Ride Now</a
          >
          <a
            routerLink="/about"
            class="text-sm font-semibold leading-6 text-gray-100"
            >Learn more <span aria-hidden="true">→</span></a
          >
        </div>
      </div>
    </div>
    <div
      class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
      aria-hidden="true"
    >
      <div
        class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
        style="
          clip-path: polygon(
            74.1% 44.1%,
            100% 61.6%,
            97.5% 26.9%,
            85.5% 0.1%,
            80.7% 2%,
            72.5% 32.5%,
            60.2% 62.4%,
            52.4% 68.1%,
            47.5% 58.3%,
            45.2% 34.5%,
            27.5% 76.7%,
            0.1% 64.9%,
            17.9% 100%,
            27.6% 76.8%,
            76.1% 97.7%,
            74.1% 44.1%
          );
        "
      ></div>
    </div>
  </div>
</div>
<section class="bg-gray-900">
  <div class="container px-6 py-10 mx-auto">
    <div class="text-center">
      <h1
        class="text-4xl font-bold tracking-tight text-gray-100"
      >
        VEHICLES.
      </h1>
      <p class="mt-6 text-lg leading-8 text-gray-400">
        The benefits of using the online cab application, such as safety,
        reliability, affordability, convenience, and ease of use.
      </p>
    </div>

    <div
      class="grid grid-cols-1 gap-8 mt-6 xl:mt-12 xl:gap-12 sm:grid-cols-2 lg:grid-cols-3"
    >
      <div class="w-full">
        <div class="object-cover w-full h-64 rounded-lg md:h-72">
          <img
            src="./assets/img/bemo.avif"
            style="height: 300px; width: 480px"
            class="rounded-lg max-sm:pb-8"
            alt=""
          />
        </div>

        <h1 class="w-56 h-2 mt-6 text-xl font-bold">Tuk-tuk</h1>
        <p class="h-2 mt-6 text-gray-400 w-100 max-sm:pb-12">
          The iconic three-wheeled vehicle, perfect for getting around town in a
          crowded city.
        </p>
      </div>

      <div class="w-full">
        <div class="object-cover h-64 rounded-lg md:h-72">
          <img
            src="./assets/img/cab.avif"
            style="height: 300px; width: 480px"
            class="rounded-lg max-sm:pb-8"
            alt=""
          />
        </div>

        <h1 class="w-56 h-2 mt-6 text-xl font-bold">Sedan</h1>
        <p class="h-2 mt-6 text-gray-400 w-100 max-sm:pb-12">
          The classic four-door car, perfect for everyday driving.
        </p>
      </div>

      <div class="w-full">
        <div class="object-cover h-64 rounded-lg md:h-72">
          <img
            src="./assets/img/jeep.avif"
            style="height: 300px; width: 480px"
            class="rounded-lg max-sm:pb-8"
            alt=""
          />
        </div>

        <h1 class="h-2 mt-6 text-xl font-bold w-62">Minivan</h1>
        <p class="h-2 mt-6 text-gray-400 w-100 max-sm:pb-12">
          The spacious minivan, perfect for families or those who need to
          transport a lot of people or cargo.
        </p>
        <p></p>
      </div>
    </div>
  </div>
</section>

<div class="z-10 pt-24 bg-gray-900">
  <div class="container px-6 py-8 mx-auto">
    <div class="absolute overflow-hidden transform-gpu blur-3xl">
      <div
        class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[60deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
        style="
          clip-path: polygon(
            74.1% 44.1%,
            100% 61.6%,
            97.5% 26.9%,
            85.5% 0.1%,
            80.7% 2%,
            72.5% 32.5%,
            60.2% 62.4%,
            52.4% 68.1%,
            47.5% 58.3%,
            45.2% 34.5%,
            27.5% 76.7%,
            0.1% 64.9%,
            17.9% 100%,
            27.6% 76.8%,
            76.1% 97.7%,
            74.1% 44.1%
          );
        "
      ></div>
    </div>
    <div class="z-50 text-center ">
      <h1
        class="text-4xl font-bold tracking-tight text-gray-100"
      >
        Simple pricing, Ride now.
      </h1>
      <p class="pb-8 mt-6 text-lg leading-8 text-gray-400">
        We offer a variety of vehicles to choose from, so you can find the
        perfect ride for your needs.
      </p>
    </div>
    <div
      class="flex flex-col items-center justify-center space-y-8 lg:-mx-4 lg:flex-row lg:items-stretch lg:space-y-0"
    >
      <div
        class="flex flex-col w-full max-w-sm p-8 space-y-8 text-center bg-white border-2 border-gray-200 rounded-lg lg:mx-4 dark:bg-gray-900 dark:border-gray-700"
      >
        <div class="flex-shrink-0">
          <h2
            class="inline-flex items-center justify-center px-2 font-semibold tracking-tight text-blue-400 uppercase rounded-lg bg-gray-50 dark:bg-gray-700"
          >
            Tuk-tuk
          </h2>
        </div>

        <div class="flex-shrink-0">
          <span
            class="pt-2 text-3xl font-bold text-gray-800 uppercase dark:text-gray-100"
          >
            ¥20
          </span>
        </div>

        <ul class="flex-1 space-y-4">
          <li class="text-gray-500 dark:text-gray-400">Up to 3 person</li>

          <li class="text-gray-500 dark:text-gray-400">Affordable</li>

          <li class="text-gray-500 dark:text-gray-400">Inconic</li>

          <li class="text-gray-500 dark:text-gray-400">Scenic</li>

          <li class="text-gray-500 dark:text-gray-400">
            Can carry small items such as luggage or groceries.
          </li>
        </ul>

        <button routerLink="/ride"
          class="z-50 inline-flex items-center justify-center px-4 py-2 font-medium text-white uppercase transition-colors bg-blue-500 rounded-lg hover:bg-blue-700 focus:outline-none"
        >
          Book
        </button>
      </div>

      <div
        class="flex flex-col w-full max-w-sm p-8 space-y-8 text-center bg-white border-2 border-gray-200 rounded-lg lg:mx-4 dark:bg-gray-900 dark:border-gray-700"
      >
        <div class="flex-shrink-0">
          <h2
            class="inline-flex items-center justify-center px-2 font-semibold tracking-tight text-blue-400 uppercase rounded-lg bg-gray-50 dark:bg-gray-700"
          >
            Sedan
          </h2>
        </div>

        <div class="flex-shrink-0">
          <span
            class="pt-2 text-3xl font-bold text-gray-800 uppercase dark:text-gray-100"
          >
            ¥70
          </span>
        </div>

        <ul class="flex-1 space-y-4">
          <li class="text-gray-500 dark:text-gray-400">Up to 4 person</li>

          <li class="text-gray-500 dark:text-gray-400">Comfortable</li>

          <li class="text-gray-500 dark:text-gray-400">Reliable</li>

          <li class="text-gray-500 dark:text-gray-400">
            Variety of storage options, including a trunk, backseat, and
            glovebox.
          </li>
        </ul>

        <button routerLink="/ride"
          class="z-50 inline-flex items-center justify-center px-4 py-2 font-medium text-white uppercase transition-colors bg-blue-500 rounded-lg hover:bg-blue-700 focus:outline-none"
        >
          Book
        </button>
      </div>

      <div
        class="flex flex-col w-full max-w-sm p-8 space-y-8 text-center bg-white border-2 border-gray-200 rounded-lg lg:mx-4 dark:bg-gray-900 dark:border-gray-700"
      >
        <div class="flex-shrink-0">
          <h2
            class="inline-flex items-center justify-center px-2 font-semibold tracking-tight text-blue-400 uppercase rounded-lg bg-gray-50 dark:bg-gray-700"
          >
            Minivan
          </h2>
        </div>

        <div class="flex-shrink-0">
          <span
            class="pt-2 text-3xl font-bold text-gray-800 uppercase dark:text-gray-100"
          >
            ¥150
          </span>
        </div>

        <ul class="flex-1 space-y-4">
          <li class="text-gray-500 dark:text-gray-400">
            Spacious, Up to 6 person
          </li>

          <li class="text-gray-500 dark:text-gray-400">Large storage</li>

          <li class="text-gray-500 dark:text-gray-400">Versatile</li>

          <li class="text-gray-500 dark:text-gray-400">
            Lot of storage space, including a large trunk, backseat, and
            overhead compartments.
          </li>
        </ul>

        <button routerLink="/ride"
          class="z-50 inline-flex items-center justify-center px-4 py-2 font-medium text-white uppercase transition-colors bg-blue-500 rounded-lg hover:bg-blue-700 focus:outline-none"
        >
          Book
        </button>
      </div>
      <div
        class="absolute z-10 overflow-hidden transform-gpu blur-3xl pl-80"
        aria-hidden="true"
      >
        <div
          class="relative left-[calc(80%+3rem)] w-[36.125rem] -translate-x-1/2 rotate-[60deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
          style="
            clip-path: polygon(
              74.1% 44.1%,
              100% 61.6%,
              97.5% 26.9%,
              85.5% 0.1%,
              80.7% 2%,
              72.5% 32.5%,
              60.2% 62.4%,
              52.4% 68.1%,
              47.5% 58.3%,
              45.2% 34.5%,
              27.5% 76.7%,
              0.1% 64.9%,
              17.9% 100%,
              27.6% 76.8%,
              76.1% 97.7%,
              74.1% 44.1%
            );
          "
        ></div>
      </div>
    </div>
  </div>
</div>
