<div class="w-[1440px] h-[900px] relative bg-white">
  <div class="w-[280px] h-[900px] left-0 top-0 absolute bg-blue-500"></div>
  <div class="w-[1160px] h-[900px] left-[280px] top-0 absolute bg-sky-50"></div>
  <div
    class="w-12 h-12 left-[116px] top-[72px] absolute bg-black bg-opacity-0 flex-col justify-start items-start flex"
  ></div>
  <div
    class="left-[86px] top-[706px] absolute text-white text-[16px] font-medium"
  >
    Github DB
  </div>
  <div
    class="left-[86px] top-[498px] absolute text-white text-[16px] font-medium"
  >
    Manage Trigger
  </div>
  <div class="w-[141px] h-[217px] left-[62px] top-[301px] absolute">
    <div
      class="left-[24px] top-[1px] absolute text-white text-[16px] font-medium"
    >
      Add Admin
    </div>
    <div
      class="left-[24px] top-[50px] absolute text-white text-[16px] font-medium"
    >
      Block User
    </div>
    <div
      class="left-[24px] top-[148px] absolute text-white text-[16px] font-medium"
    >
      Delete Menfess
    </div>
    <div
      class="left-[24px] top-[99px] absolute text-white text-[16px] font-medium"
    >
      Banned Words
    </div>
    <div
      class="w-[217px] h-[0px] left-0 top-0 absolute origin-top-left rotate-90 border border-white border-opacity-25"
    ></div>
  </div>
  <div class="w-[93px] h-[119px] left-[62px] top-[608px] absolute">
    <div class="left-[24px] top-0 absolute text-white text-[16px] font-medium">
      ON / OFF
    </div>
    <div
      class="left-[24px] top-[49px] absolute text-white text-[16px] font-medium"
    >
      Tampilan
    </div>
    <div
      class="w-[119px] h-[0px] left-0 top-0 absolute origin-top-left rotate-90 border border-white border-opacity-25"
    ></div>
  </div>
  <div class="w-48 h-[21px] left-[44px] top-[249px] absolute">
    <div class="left-[34px] top-0 absolute text-white text-[16px] font-medium">
      Bot Menu
    </div>
    <div class="w-4 h-4 left-[176px] top-[5px] absolute"></div>
    <div class="w-5 h-5 left-0 top-0 absolute bg-black bg-opacity-0"></div>
  </div>
  <div class="h-[21px] left-[46px] top-[192px] absolute">
    <div class="left-[32px] top-0 absolute text-white text-[16px] font-medium">
      Dashboard
    </div>
    <div
      class="w-5 h-5 left-0 top-0 absolute bg-black bg-opacity-0 flex-col justify-start items-start inline-flex"
    ></div>
  </div>
  <div class="w-[190px] h-[21px] left-[46px] top-[555px] absolute">
    <div class="left-[32px] top-0 absolute text-white text-[16px] font-medium">
      Settings
    </div>
    <div class="w-4 h-4 left-[174px] top-[3px] absolute"></div>
    <div class="w-5 h-5 left-0 top-[1px] absolute bg-black bg-opacity-0"></div>
  </div>
  <div class="h-[21px] left-[46px] top-[763px] absolute">
    <div class="left-[32px] top-0 absolute text-white text-[16px] font-medium">
      Database
    </div>
    <div
      class="w-5 h-5 left-0 top-0 absolute bg-black bg-opacity-0 flex-col justify-start items-start inline-flex"
    ></div>
  </div>
  <div class="w-[1159px] h-20 left-[281px] top-0 absolute bg-white"></div>
  <div class="w-60 h-10 left-[1150px] top-[20px] absolute">
    <div class="w-[149px] h-10 left-[91px] top-0 absolute">
      <img
        class="w-10 h-10 left-0 top-0 absolute rounded-full"
        src="https://via.placeholder.com/40x40"
      />
      <div
        class="left-[64px] top-0 absolute text-slate-500 text-[16px] font-medium"
      >
        JackWilder
      </div>
      <div
        class="left-[64px] top-[24px] absolute text-slate-300 text-[12px] font-normal"
      >
        Administrator
      </div>
    </div>
    <div
      class="w-6 h-6 left-[40px] top-[7px] absolute bg-black bg-opacity-0"
    ></div>
    <div
      class="w-6 h-6 left-0 top-[8.32px] absolute bg-black bg-opacity-0"
    ></div>
    <div
      class="w-3 h-3 left-[56px] top-[2px] absolute bg-rose-500 rounded-full"
    ></div>
    <div
      class="left-[60px] top-[2px] absolute text-white text-[10px] font-medium"
    >
      1
    </div>
  </div>
  <div class="w-3 h-3 left-[1410px] top-[38px] absolute"></div>
  <div class="w-[505px] h-[50px] left-[324px] top-[15px] absolute">
    <div
      class="w-[505px] h-[50px] left-0 top-0 absolute bg-sky-50 rounded-lg"
    ></div>
    <div
      class="left-[24px] top-[15px] absolute text-slate-400 text-[15px] font-normal"
    >
      Cari tweet
    </div>
    <div class="w-4 h-4 left-[465px] top-[17px] absolute"></div>
  </div>
  <div
    class="left-[339px] top-[144px] absolute text-slate-500 text-[28px] font-bold"
  >
    DASHBOARD
  </div>
  <div
    class="left-[339px] top-[513px] absolute text-slate-500 text-[28px] font-bold"
  >
    LATEST ACTIVITIES
  </div>
  <div class="w-[332px] h-[205px] left-[339px] top-[228px] absolute">
    <div
      class="w-[332px] h-[205px] left-0 top-0 absolute bg-white rounded-lg"
    ></div>
    <div
      class="left-[35px] top-[24px] absolute text-slate-500 text-[18px] font-medium"
    >
      Today’s statistics
    </div>
    <div
      class="left-[59px] top-[150px] absolute text-green-400 text-[16px] font-normal"
    >
      6,3%
    </div>
    <div
      class="left-[149px] top-[68px] absolute text-slate-500 text-[60px] font-medium"
    >
      1,285
    </div>
    <div
      class="left-[226px] top-[145px] absolute text-neutral-300 text-[16px] font-normal"
    >
      menfess
    </div>
    <div
      class="w-3.5 h-3.5 left-[49px] top-[167px] absolute origin-top-left -rotate-180 bg-black bg-opacity-0"
    ></div>
  </div>
  <div class="w-[332px] h-[205px] left-[694px] top-[228px] absolute">
    <div
      class="w-[332px] h-[205px] left-0 top-0 absolute bg-white rounded-lg"
    ></div>
    <div
      class="left-[35px] top-[24px] absolute text-slate-500 text-[18px] font-medium"
    >
      New Followers
    </div>
    <div
      class="left-[59px] top-[150px] absolute text-green-400 text-[16px] font-normal"
    >
      2,3%
    </div>
    <div
      class="left-[172px] top-[68px] absolute text-slate-500 text-[60px] font-medium"
    >
      136
    </div>
    <div
      class="left-[224px] top-[145px] absolute text-neutral-300 text-[16px] font-normal"
    >
      users
    </div>
    <div
      class="w-3.5 h-3.5 left-[49px] top-[167px] absolute origin-top-left -rotate-180 bg-black bg-opacity-0"
    ></div>
  </div>
  <div class="w-[332px] h-[205px] left-[1049px] top-[228px] absolute">
    <div
      class="w-[332px] h-[205px] left-0 top-0 absolute bg-white rounded-lg"
    ></div>
    <div
      class="left-[35px] top-[24px] absolute text-slate-500 text-[18px] font-medium"
    >
      Total Engagement
    </div>
    <div
      class="left-[59px] top-[150px] absolute text-red-400 text-[16px] font-normal"
    >
      6,3 %
    </div>
    <div
      class="left-[59px] top-[68px] absolute text-slate-500 text-[60px] font-medium"
    >
      156,5 RB
    </div>
    <div
      class="left-[203px] top-[145px] absolute text-neutral-300 text-[16px] font-normal"
    >
      interactions
    </div>
    <div
      class="w-3.5 h-3.5 left-[35px] top-[153px] absolute bg-black bg-opacity-0"
    ></div>
  </div>
  <div
    class="w-[696px] h-[438px] left-[339px] top-[597px] absolute bg-white rounded-lg"
  ></div>
  <div
    class="w-80 h-[402px] left-[1061px] top-[597px] absolute bg-white rounded-lg"
  ></div>
  <div class="w-[655px] h-[298px] left-[359px] top-[621px] absolute">
    <div
      class="left-[67px] top-0 absolute text-slate-500 text-[16px] font-medium"
    >
      User
    </div>
    <div class="left-0 top-0 absolute text-slate-500 text-[16px] font-medium">
      No.
    </div>
    <div
      class="left-[12px] top-[277px] absolute text-slate-400 text-[14px] font-normal leading-snug tracking-wide"
    >
      3
    </div>
    <div
      class="left-[67px] top-[277px] absolute text-slate-400 text-[14px] font-normal leading-snug tracking-wide"
    >
      @kaiopalli
    </div>
    <div
      class="left-[224px] top-[277px] absolute text-slate-400 text-[14px] font-normal leading-snug tracking-wide"
    >
      11-04-2021 15:56 PM
    </div>
    <div class="w-[613px] h-[21px] left-[12px] top-[55px] absolute">
      <div
        class="left-0 top-0 absolute text-neutral-300 text-[14px] font-normal leading-snug tracking-wide"
      >
        1
      </div>
      <div
        class="left-[55px] top-0 absolute text-neutral-300 text-[14px] font-normal leading-snug tracking-wide"
      >
        @santika29
      </div>
      <div
        class="left-[212px] top-0 absolute text-neutral-300 text-[14px] font-normal leading-snug tracking-wide"
      >
        11-04-2021 15:20 PM
      </div>
      <div
        class="left-[397px] top-0 absolute text-neutral-300 text-[14px] font-normal leading-snug tracking-wide"
      >
        fess! aku mau tanya nih, kalian...
      </div>
    </div>
    <div class="w-[588px] h-[21px] left-[12px] top-[96px] absolute">
      <div
        class="left-0 top-0 absolute text-neutral-300 text-[14px] font-normal leading-snug tracking-wide"
      >
        2
      </div>
      <div
        class="left-[55px] top-0 absolute text-neutral-300 text-[14px] font-normal leading-snug tracking-wide"
      >
        @andreaks
      </div>
      <div
        class="left-[212px] top-0 absolute text-neutral-300 text-[14px] font-normal leading-snug tracking-wide"
      >
        11-04-2021 15:22 PM
      </div>
      <div
        class="left-[397px] top-0 absolute text-neutral-300 text-[14px] font-normal leading-snug tracking-wide"
      >
        fess! ini kok bisa begini sih...
      </div>
    </div>
    <div class="w-[599px] h-[21px] left-[12px] top-[137px] absolute">
      <div
        class="left-0 top-0 absolute text-neutral-300 text-[14px] font-normal leading-snug tracking-wide"
      >
        3
      </div>
      <div
        class="left-[55px] top-0 absolute text-neutral-300 text-[14px] font-normal leading-snug tracking-wide"
      >
        @jayeonggi
      </div>
      <div
        class="left-[212px] top-0 absolute text-neutral-300 text-[14px] font-normal leading-snug tracking-wide"
      >
        11-04-2021 15:25 PM
      </div>
      <div
        class="left-[397px] top-0 absolute text-neutral-300 text-[14px] font-normal leading-snug tracking-wide"
      >
        fess! emangnya kalo dia ada...
      </div>
    </div>
    <div class="w-[612px] h-[21px] left-[12px] top-[178px] absolute">
      <div
        class="left-0 top-0 absolute text-neutral-300 text-[14px] font-normal leading-snug tracking-wide"
      >
        4
      </div>
      <div
        class="left-[55px] top-0 absolute text-neutral-300 text-[14px] font-normal leading-snug tracking-wide"
      >
        @jatyuuun
      </div>
      <div
        class="left-[212px] top-0 absolute text-neutral-300 text-[14px] font-normal leading-snug tracking-wide"
      >
        11-04-2021 15:44 PM
      </div>
      <div
        class="left-[397px] top-0 absolute text-neutral-300 text-[14px] font-normal leading-snug tracking-wide"
      >
        fess! misal, misal nih, misalnya...
      </div>
    </div>
    <div class="w-[594px] h-[21px] left-[12px] top-[219px] absolute">
      <div
        class="left-0 top-0 absolute text-neutral-300 text-[14px] font-normal leading-snug tracking-wide"
      >
        5
      </div>
      <div
        class="left-[55px] top-0 absolute text-neutral-300 text-[14px] font-normal leading-snug tracking-wide"
      >
        @arafah664
      </div>
      <div
        class="left-[212px] top-0 absolute text-neutral-300 text-[14px] font-normal leading-snug tracking-wide"
      >
        11-04-2021 15:45 PM
      </div>
      <div
        class="left-[397px] top-0 absolute text-neutral-300 text-[14px] font-normal leading-snug tracking-wide"
      >
        fess! buang duit buang duit...
      </div>
    </div>
    <div class="w-[576px] h-[21px] left-[12px] top-[260px] absolute">
      <div
        class="left-0 top-0 absolute text-neutral-300 text-[14px] font-normal leading-snug tracking-wide"
      >
        6
      </div>
      <div
        class="left-[55px] top-0 absolute text-neutral-300 text-[14px] font-normal leading-snug tracking-wide"
      >
        @utututuuu
      </div>
      <div
        class="left-[212px] top-0 absolute text-neutral-300 text-[14px] font-normal leading-snug tracking-wide"
      >
        11-04-2021 15:47 PM
      </div>
      <div
        class="left-[397px] top-0 absolute text-neutral-300 text-[14px] font-normal leading-snug tracking-wide"
      >
        fess! keren banget anjrot...
      </div>
    </div>
    <div
      class="left-[409px] top-[277px] absolute text-slate-400 text-[14px] font-normal leading-snug tracking-wide"
    >
      fess! duhhhh gini kalo sukanya...
    </div>
    <div
      class="left-[224px] top-0 absolute text-slate-500 text-[16px] font-medium"
    >
      Date
    </div>
    <div
      class="left-[409px] top-0 absolute text-slate-500 text-[16px] font-medium"
    >
      Menfess
    </div>
    <div
      class="w-[655px] h-[0px] left-0 top-[39px] absolute border border-gray-100"
    ></div>
  </div>
  <div class="h-[21px] left-[46px] top-[820px] absolute">
    <div class="left-[32px] top-0 absolute text-white text-[16px] font-medium">
      Logs
    </div>
    <div
      class="w-5 h-5 left-0 top-[1px] absolute bg-black bg-opacity-0 flex-col justify-start items-start inline-flex"
    ></div>
  </div>
  <div class="w-[280px] h-[289px] left-[1082px] top-[621px] absolute">
    <div
      class="left-[11px] top-0 absolute text-slate-500 text-[16px] font-medium"
    >
      Top Users
    </div>
    <div
      class="left-[214px] top-0 absolute text-slate-500 text-[16px] font-medium"
    >
      Badge
    </div>
    <div
      class="left-[29px] top-[47px] absolute text-slate-400 text-[14px] font-normal underline leading-10"
    >
      @babik91<br />@Arasa12<br />@asalkamutau<br />@baharudinn<br />@pahriskrup<br />@nengnengi9
    </div>
    <div
      class="left-[195px] top-[47px] absolute text-black text-[16px] font-normal leading-9"
    >
      🚀🚀🚀🚀
    </div>
    <div
      class="left-[213px] top-[89px] absolute text-black text-[16px] font-normal leading-9"
    >
      🚀🚀🚀
    </div>
    <div
      class="left-[211px] top-[131px] absolute text-black text-[16px] font-normal leading-9"
    >
      🚀🚀🚀
    </div>
    <div
      class="left-[211px] top-[170px] absolute text-black text-[16px] font-normal leading-9"
    >
      🚀🚀🚀
    </div>
    <div
      class="left-[229px] top-[212px] absolute text-black text-[16px] font-normal leading-9"
    >
      🚀🚀
    </div>
    <div
      class="left-[241px] top-[253px] absolute text-black text-[16px] font-normal leading-9"
    >
      🚀
    </div>
    <div
      class="w-[280px] h-[0px] left-0 top-[39px] absolute border border-gray-100"
    ></div>
    <div
      class="w-1.5 h-1.5 left-[11px] top-[64px] absolute bg-slate-400 rounded-full"
    ></div>
    <div
      class="w-1.5 h-1.5 left-[11px] top-[103px] absolute bg-slate-400 rounded-full"
    ></div>
    <div
      class="w-1.5 h-1.5 left-[11px] top-[142px] absolute bg-slate-400 rounded-full"
    ></div>
    <div
      class="w-1.5 h-1.5 left-[11px] top-[181px] absolute bg-slate-400 rounded-full"
    ></div>
    <div
      class="w-1.5 h-1.5 left-[11px] top-[220px] absolute bg-slate-400 rounded-full"
    ></div>
    <div
      class="w-1.5 h-1.5 left-[11px] top-[259px] absolute bg-slate-400 rounded-full"
    ></div>
  </div>
  <div class="w-[159px] h-[141px] left-[1277px] top-[83px] absolute">
    <div
      class="w-[159px] h-[141px] left-0 top-0 absolute bg-white shadow"
    ></div>
    <div class="w-[115px] h-[102px] left-[22px] top-[20px] absolute">
      <div
        class="left-[8px] top-0 absolute text-slate-500 text-[14px] font-medium"
      >
        Profile Settings
      </div>
      <div
        class="left-0 top-[42px] absolute text-slate-500 text-[14px] font-medium"
      >
        Account Settings
      </div>
      <div
        class="left-[29px] top-[84px] absolute text-slate-500 text-[14px] font-medium"
      >
        Sign Out
      </div>
      <div
        class="w-[106px] h-[0px] left-[5px] top-[30px] absolute border border-slate-50"
      ></div>
      <div
        class="w-[106px] h-[0px] left-[5px] top-[72px] absolute border border-slate-50"
      ></div>
    </div>
  </div>
</div>
